body {
    background-color: #333;
    color: #eee;
    font-family: "Noto Sans JP", sans-serif;
}

header,
main,
footer {
    width: min(700px, 90%);
    margin: 0 auto;
}

hr {
    color: #eee;
}

summary {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.blank {
    height: 10px;
}

.commonbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    vertical-align: text-top;
}

input[type="text"] {
    font-size: 1.2em;
    width: 200px;
    height: 28px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    vertical-align: top;
}

button {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    vertical-align: top;
    padding: 2px 10px;
    transition-duration: .2s;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

button:hover {
    background-color: #555;
    color: #eee;
    transition-duration: .2s;
}

button:active {
    background-color: #222;
    color: #999;
}

.copybtn {
    margin: 0;
}

.copied {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    color: #55ff55;
}

/* プロンプトバンクセクション */
.promptBankSection {
    border: 1px dashed #eee;
}

.promptBankInner {
    border: 1px solid #eee;
    margin: 10px 0 0;
}

.promptwrapper {
    display: flex;
}

.ic_btn button {
    display: inline;
}

.bank_prompt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* インポーターセクション */
.importerSection {
    border: 1px dashed #eee;
}

.analyzingWord {
    font-family: "Roboto mono", monospace;
}

#classificationArea {
    display: none;
}

#checktxt {
    line-height: 2em;
}

#classifyButtons {
    display: flex;
    flex-direction: column;
}

#classifyButtons button {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#classifyButtons button:first-child {
    margin: 0;
}

/* プロンプトセクション */
.promptSection {
    border: 1px solid #eee;
}

.sectionTitle {
    font-weight: bold;
    font-size: 1.5em;
}

/* 入力部 */
.inner {
    margin-top: 0;
}

/* 単語部 */
.wordlist {
    display: flex;
    flex-wrap: wrap;
}

.wordlist div {
    padding: 5px;
    background-color: #eee;
    color: #333;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.wordlist div button {
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #eee;
    color: #333;
}

.wordlist div button:hover {
    background-color: #333;
    color: #eee;
}

/* 出力部 */
#prompt_output,
#prompt_converted {
    width: 100%;
    font-family: "Roboto mono", monospace;
    margin-bottom: 10px;
}

/* 元素法典変換機 */
textarea {
    width: 100%;
    height: 5em;
    font-size: large;
    box-sizing: border-box;
}