body {
    background-color: #333;
    color: #eee;
    font-family: "Noto Sans JP", sans-serif;
}

header,
main,
footer {
    width: min(700px, 90%);
    margin: 0 auto;
}

hr {
    color: #eee;
}

.blank {
    height: 10px;
}

.commonbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    vertical-align: text-top;
}

/* 共通 */
input[type="text"] {
    font-size: 1.2em;
    width: 200px;
    margin-right: 10px;
}

button {
    font-size: 1.2em;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}

/* インポーターセクション */
.importerSection {
    border: 1px dashed #eee;
}

.analyzingWord {
    font-family: "Roboto mono", monospace;
}

#classificationArea {
    display: none;
}

#classifyButtons {
    display: flex;
    flex-direction: column;
}

#classifyButtons button {
    display: block;
    width: fit-content;
    margin: 3px 0;
}

/* プロンプトセクション */
.promptSection {
    border: 1px solid #eee;
}

.sectionTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* 入力部 */
/* なし */

/* 単語部 */
.wordlist {
    display: flex;
    flex-wrap: wrap;
}

.wordlist div {
    padding: 5px;
    background-color: #eee;
    color: #333;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.wordlist div button {
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #eee;
    color: #333;
}

.wordlist div button:hover {
    background-color: #333;
    color: #eee;
}

/* 出力部 */
#output,
#converted {
    width: 100%;
    font-family: "Roboto mono", monospace;
    margin-bottom: 10px;
}

/* おまけ */
textarea {
    width: 100%;
    height: 5em;
    font-size: large;
}